body{
    background-color: blueviolet;
}

.container{
    background-color:lightgreen;
    width: 80%;
    border: 10px solid red; 
    padding: 30px;
    margin: 0 auto;
    text-align: justify;
}

header{
    background-color: lightcoral;
    padding: 20px;
    text-align: left;
}

footer{
    background-color: lightslategray;
    padding: 20px;
    text-align: left;
}

.container main img{
    width: 100%;
}