<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS</title>
</head>

<link rel="stylesheet" href="../stiles.css">

<body>
    <div class="container">  
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header> 
    <main>

        <img src="../img/contactos.jpg" alt="">

        <div class="main_Principal">   
            <p>Bienvenido a nuestros productos</p>
            <a href="https://api.whatsapp.com/send/?phone=573153801813&text=Hola%2C+necesito+informaci%C3%B3n&type=phone_number&app_absent=0">
            <img src="../img/img_boton_whatsapp.png" style="width: 30px; float: left;" alt="">
            </a>
            <h2>Contactanos por whatsapp, presione el botón</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum ducimus quos vero enim recusandae, amet eveniet quo! Repellendus labore beatae porro, quae eveniet recusandae deserunt praesentium, cumque inventore repudiandae tempore.</p>
        </div>

        </main>

        <footer>
            <div class="redes">
                <a href="https://www.facebook.com/">
                <img src="../img/facebook.png" alt="Facebook">
                </a>

                <a href="https://www.instagram.com/">
                <img src="../img/instagram.png" alt="Instagram">
                </a>

                <a href="https://www.twitter.com/">
                <img src="../img/twitter.png" alt="Twitter">
                </a>
            </div>
        </footer>

    </div>    
</body>
</html>